header {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 44px 109px 46px;
  gap: 11px;

  img {
    width: 34px;
    height: 34px;
  }

  h2 {
    font-family: var(--font-family-sora);
    line-height: 130%;
    letter-spacing: 4%;
  }
}

@media (min-width: 1336px) {
  header{
    justify-content: flex-start;
    margin: 44px 89px 10px 0;
  }
  
}