.page-heading {
  p {
    font: var(--paragraph-small);
  }

  h1 {
    font: var(--display-medium);
    background: var(--gradient-content);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom: 42px;
  }
}

@media (min-width: 1336px) {
  .page-heading {
    grid-area: C;

    h1 {
      font: var(--display-large);
    }
  }
}