.result-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-top: 71px;
    
    h3 {
      font: var(--label-medium);
    }

    p {
      font: var(--overline);
    }

} 

.result-section.hide {
    display: none;
}

.result-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 24px;
    flex-wrap: wrap;
    margin:40px 0 56px 0;
}

.result-number {
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-background {
    position: absolute;
    inset: 0;
    background-color: #c084fc;
    border-radius: 20px;
    animation: showNumber 4s linear forwards;
}

.result-number p {
    position: relative;
    z-index: 1;

    font: var(--overline);
    font-size: 32px;
    color: var(--content-primary);

    opacity: 0;

    animation: showText 3.3s linear forwards;
    animation-delay: 2s;
}


/* Animação do quadrado */
@keyframes showNumber {

    0% {
        transform: scale(0.5) rotate(0deg);
        opacity: 1;
        border-radius: 20px;
    }

    20% {
        transform: scale(0.9) rotate(90deg);
        opacity: 1;
        border-radius: 20px;
    }

    40% {
        transform: scale(1) rotate(180deg);
        opacity: 1;
        border-radius: 20px;
    }

    60% {
        transform: scale(1) rotate(270deg);
        opacity: 1;
        border-radius: 20px;
    }

    75% {
        transform: scale(1) rotate(360deg);
        opacity: 1;
        border-radius: 20px;
    }

    /* começa a espera */
    90% {
        transform: scale(1) rotate(360deg);
        opacity: 1;
        border-radius: 20px;
    }

    /* desaparece */
    100% {
        transform: scale(1) rotate(360deg);
        opacity: 0;
        border-radius: 20px;
    }
}


/* Texto */
@keyframes showText {

    0% {
        opacity: 0;
        color: white;
    }

    25% {
        opacity: 1;
        color: white;
    }

    100% {
        opacity: 1;
        color: var(--content-brand);
    }
}