.result-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-top: 71px;
    
    h3 {
      font: var(--label-medium);
    }

    p {
      font: var(--overline);
    }

} 

.result-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 24px;
    flex-wrap: wrap;
    margin:40px 0 56px 0;

    .result-number {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        background-color: var(--background-gray);
        border-radius: 8px;

        p {
            font: var(--display-medium);
            color: var(--content-brand);
        }
    }
}